.button {
  background-color: rgb(35, 32, 37);
  color: white;
  margin: 0 15px;
  outline: 3px dashed white;
  outline-offset: 3px;

  &.active {
    outline-color: $mainColor;
    color: $mainColor;
  }

  &:focus {
    outline: 3px dashed $mainColor;
    outline-offset: 3px;
  }
}
