.maze {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: 2px solid blueviolet;
}

.row {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(230, 211, 230);

  &.wall {
    background-color: black;
  }

  &.path {
    background-color: white;
  }

  &.start {
    background-color: green;
  }

  &.end {
    background-color: red;
  }
}
