.maze {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.row {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 6px;
  transition: background-color ease 0.3s;

  &.wall {
    background-color: rgb(22, 24, 25);
  }

  &.path {
    background-color: white;
  }

  &.start {
    background-color: rgb(51, 159, 51);
  }

  &.end {
    background-color: rgb(208, 24, 24);
  }

  &.visited {
    background-color: violet;
  }
}
