.maze {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.row {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 5px;
  transition: background-color ease 0.3s;
  margin: 0.5px;

  &.wall {
    background-color: rgb(22, 24, 25);
  }

  &.path {
    background-color: rgb(238, 238, 238);
  }

  &.start {
    background-color: rgb(51, 159, 51);
  }

  &.end {
    background-color: rgb(208, 24, 24);
  }

  &.visited {
    background-color: $mainColor;
  }
}
